.dreams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 1200px; 
  }
  
  .dream-item {
    position: relative;
    width: 100%; 
    height: 8cm;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .dream-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7) contrast(1.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .dream-item:hover img {
    transform: scale(1.05);
  }
  
  .dream-title {
    position: absolute;
    bottom: 1.0cm;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
  }
  
  .container-all-dreams {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .all {
    font-family: 'Antic Didone', serif;
    font-size: 1.5rem;
    color: #d24d59;
    margin: 0;
  }