/* .profile {
    background-image: url('https://i.im.ge/2023/04/11/IetoHp.profile-bg.jpg');
    background-size: cover;
  } */


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .user-photo {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
  }

  .user-photo:hover .overlay {
    opacity: 0.7;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #d24d59;
  }

  .icon-upload {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .follow-btn {
    width: 100px;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #d24d59;
    border: 2px solid #d24d59;
    border-radius: 25px;
    text-align: center;
    line-height: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .follow-btn:hover {
    background-color: #DC7C84;
    color: white;
  }

  